name: Build image

on:
    push:
        branches:
            - main
        paths:
            - 'requirements/*'
            - 'docker/dockerfile'
    pull_request:
        branches:
            - main
        paths:
            - 'requirements/*'
            - 'docker/dockerfile'

jobs:

    set-vars:
        uses: ./.github/workflows/set-vars.yml

    build-image:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        container:
            image: docker:latest
        permissions:
            contents: read
            packages: write
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        steps:
            - uses: actions/checkout@v4

            - uses: docker/setup-qemu-action@v3

            - uses: docker/setup-buildx-action@v3

            - uses: docker/login-action@v3
              with:
                  registry: ${{ needs.set-vars.outputs.CI_REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/build-push-action@v6
              with:
                  context   : .
                  platforms : linux/amd64,linux/arm64
                  push      : ${{ github.ref == 'refs/heads/main' }}
                  file      : docker/dockerfile
                  tags      : ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
                  cache-from: type=registry,ref=${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
                  cache-to  : type=inline
                  labels    : "org.opencontainers.image.source=${{ github.repositoryUrl }}"
                  build-args: |
                      HWLOC_VERSION=${{ matrix.version }}
