name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    set-vars:
        uses: ./.github/workflows/set-vars.yml

    test:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
        steps:
            - uses: actions/checkout@v5

            - run: lstopo-no-graphics

            - name: Run tests.
              run : |
                  python -m pytest \
                      --typeguard-packages=hwloc_xml_parser \
                      -vvv --log-cli-level=info \
                      tests/test_topology.py

    build-package:
        needs: [set-vars, test]
        runs-on: ubuntu-latest
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:2.9.0
        services:
            docker:
                image: docker:dind
        steps:
            - uses: actions/checkout@v5
            - run: python -m pip install -U cibuildwheel
            - run: python -m cibuildwheel --output-dir wheelhouse
            - uses: actions/upload-artifact@v4
              with:
                  name: package
                  path: wheelhouse/
                  retention-days: 1

    install-as-package-and-test:
        needs: [set-vars, build-package]
        runs-on: [ubuntu-latest]
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: package
                  path: wheelhouse/

            - run: |
                  python -m pip install --no-index --find-links=wheelhouse/ hwloc_xml_parser
                  python -m pip show hwloc_xml_parser

            - name: Test package.
              run : |
                  python -c "from hwloc_xml_parser.topology import SystemTopology; topo = SystemTopology()"

    mypy:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:2.9.0
        steps:
            - uses: actions/checkout@v5

            - run: mypy --strict hwloc_xml_parser/
