name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    set-vars:
        uses: ./.github/workflows/set-vars.yml

    test:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
        steps:
            - uses: actions/checkout@v5

            - run: lstopo-no-graphics

            - name: Run tests.
              run : |
                  python -m pytest tests/test_topology.py

    install-as-package-and-test:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
        steps:
            - name: Install as package.
              run : |
                  pip install git+https://github.com/uliegecsm/hwloc-xml-parser.git@${{ github.sha }}

            - name: Test package.
              run : |
                  python -c "from hwloc_xml_parser.topology import SystemTopology; topo = SystemTopology()"
