name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    set-vars:
        uses: ./.github/workflows/set-vars.yml

    test:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
        steps:
            - uses: actions/checkout@v5

            - run: lstopo-no-graphics

            - name: Run tests.
              run : |
                  python -m pytest \
                      --typeguard-packages=hwloc_xml_parser \
                      -vvv --log-cli-level=info \
                      tests/test_topology.py

    build-package:
        needs: [set-vars, test]
        runs-on: ${{ matrix.runs-on }}
        strategy:
            matrix:
                include:
                    - runs-on: ubuntu-24.04
                      arch   : x86_64
                    - runs-on: ubuntu-24.04-arm
                      arch   : aarch64
            fail-fast: false
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v6
              with:
                  python-version: '3.11'
            - run: python -m pip install -U cibuildwheel
            - run: python -m cibuildwheel --archs=${{ matrix.arch }} --output-dir wheelhouse
            - uses: actions/upload-artifact@v4
              with:
                  name: package-${{ matrix.arch }}
                  path: wheelhouse/
                  retention-days: 1

    install-as-package-and-test:
        needs: [set-vars, build-package]
        runs-on: [ubuntu-latest]
        strategy:
            fail-fast: false
            matrix:
                version: [
                    2.9.0,
                    2.12.0
                ]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:${{ matrix.version }}
        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: package-x86_64
                  path: wheelhouse/

            - run: |
                  python -m pip install --no-index --find-links=wheelhouse/ hwloc_xml_parser
                  python -m pip show hwloc_xml_parser

            - name: Test package.
              run : |
                  python -c "from hwloc_xml_parser.topology import SystemTopology; topo = SystemTopology()"

    mypy:
        needs: [set-vars]
        runs-on: [ubuntu-latest]
        container:
            image: ${{ needs.set-vars.outputs.CI_IMAGE }}:2.9.0
        steps:
            - uses: actions/checkout@v5

            - run: mypy --strict hwloc_xml_parser/

    # Following instructions from
    # https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/#publishing-the-distribution-to-pypi.
    publish-to-pypi:
        needs: [install-as-package-and-test, mypy, build-package, test]
        runs-on: [ubuntu-latest]

        if: ${{ github.ref == 'refs/heads/main' }}

        environment:
            name: pypi
            url: https://pypi.org/p/hwloc-xml-parser

        permissions:
            id-token: write

        steps:
            - uses: actions/download-artifact@v5
              with:
                  pattern: package-*
                  path: wheelhouse
                  merge-multiple: true

            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages-dir: wheelhouse
                  verbose: true
